
body > table{
    width: 80%;
   
}
h2 {
	text-align: center;
	padding: 23px;
	background-color: #c8a39f;
	color: black;
	}

table{
    border-collapse: collapse;
    margin:50px;
 
}

table.list{
    width:0%;
    justify:center;
    
}


div{
    margin:5px 20px;
    padding:10px 5px;
}

td, th {
    border: 1px solid #c8a39f;
    text-align: left;
    padding: 8px;
    margin:55%;
}

tr:nth-child(even),table.list thead>tr {
    background-color: #ffe5e2;
}

input[type=text], input[type=number], input[type=tel]{
    width: 100%;
    padding: 12px 20px;
   
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 50%;
    background-color:#c8a39f;
    color: #000;
    padding: 12px 20px;
   
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}
